/*

___ 01 TYPOGRAPHY SYSTEM

font weights
deafault 400

line height
Default: 1
___ 02 COLOR

primary: #e67e22

tints:
shades:
Accents:
greys:
#555
#333

__ 05 shadows

__ 06 border-radius
__ 07 whitespace
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
/* ************************ */
/* GENERAL REUSERBLE COMPONENS */
/* ************************ */

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

/* .grid:last-child {
  margin-bottom: 0;
} */

.grid:not(:last-child) {
margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2,1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3,1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4,1fr);
  align-items: center;
}

.grid--5-cols {
  grid-template-columns: repeat(5,1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-secondary,
.heading-tertiary,
.heading-tertiary {
  color: #333;
  line-height: 1.05;
  margin-bottom: 3.5rem;
}

.heading-primary {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: 0.5px;
  margin-bottom: 3.5rem;
}

.heading-secondary {
font-size: 3.3rem;
line-height: 1.2;
margin-bottom: 9,6rem;
}

.heading-tertiary {
font-size: 3rem;
line-height: 1.2;
margin-bottom: 2.8rem;
}

.subheading {
display: block;
font-size: 1.7rem;
font-weight: 500;
color: #cf711f;
text-transform: uppercase;
margin-bottom: 1.6rem;
letter-spacing: 0.75px;
}
.btn,
.btn:link,
.btn:visited {
  /* background-color: #e67e22; */
  font-size: 1rem;
  display: inline-block;
  /* color: #fff; */
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;

 /* only for .btn */
 border: none;
 cursor: pointer;
font-family: inherit;

  font-weight: 600;
  transition: all 03s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #452604;
  color: #fdf2e9;
  align-self: end;
  padding: 0.6rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.link:link,
.link:visited {
  color: #e67e22;
  text-decoration: none;
  border-radius: 1px solid currentcolor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
color: #cf711f;
border-bottom: 1px solid transparent;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

*:focus  {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(207, 113, 31, 0.932);
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.margin-right-sm {
  margin-right: 1rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.margin-bottom {
  margin-bottom: 0rem;
}

strong {
  font-weight: 500;
}

/* responsive view
@media screen and (max-width: 1025px) {
  .section-hero {
  padding: 3.8rem 0 7.6rem 0;
  }
  
  .hero {
    max-width: 1300rem;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    gap: 7.6rem;
  }

  .hero-discription {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 3.8rem;
    padding: 0 1.1rem;
  }
  
  .hero-img {
    width: 100%;
  }

  .btn {
    padding: 0.6rem 0.2rem;
    font-size: 0.1rem;
  }
} */